body {
    font-family: Arial;
    margin: 0;
    color: #333;
}

header {
    background: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

a:hover {
  color: grey;
}

section {
    background: white;
    max-width: 1000px;
    margin: 30px  auto;
    padding: 20px;
    border-radius: 8px;
}

img {
    width: 200px;
    border-radius: 10px;
    border: 2px solid #2c3e50;
}

footer {
    text-align: center;
    background: #2c3e50;
    color: white;
    padding: 10px;
}